/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2017, 9:55:48 PM
    Author     : jeremy_pc
*/


#nav_sight{
    padding-bottom: 10px;
    border: solid 10px green;
}