.sign-in-form {
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: #3d454f;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 120px;
}

body {
  padding-top: 90px;
  background-color:#4D4C4C;
  font-family: 'Roboto', sans-serif;
  font-weight:100;
}

.button
{
  background-image: url("../img/button.png");
  background-repeat: no-repeat;
}
.button:hover
{
  background-image: url("../img/button_hover.png");
  background-repeat: no-repeat;
}
span
{
    float: right;
    margin-right: 20px;
}
.sign-in-form h4 {
  color: white;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.sign-in-form label {
  text-transform: uppercase;
  color: #adadad;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.sign-in-form input {
  color: #080808;
}

.sign-in-form input:focus {
  opacity: .8;
}

.sign-in-form-username,
.sign-in-form-password {
  border-radius: 30px;
  border: none;
  opacity: .1;
  transition: all ease .4s;
}

.sign-in-form-button {
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 40%;
  background-color: #5B5E5F;
  border-color: #E9DB20;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 20%;
  padding: 1rem;
  transition: all ease .4s;
}
.sign-in-form-button:hover{
  background-color: #BE8442;
}
.sign-in-form-button2{
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;

  background-color: #5B5E5F;
  border-color: #E9DB20;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;
}
.sign-in-form-button2:hover{
  background-color: #BE8442;
}


body{
  background-image: url("../img/back_img.jpeg");
}

.foret
{
    background-image: url("../img/bandeau_home.jpeg");
    background-repeat: no-repeat;
    border: 3px solid black;
    height: 360px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 60px;
    border-radius: 5px;
}
.conteneur{
  
      display: flex;
      justify-content: space-around;
      color: white;
      margin-top: 100px;
      background-image: url("../img/footer_img.jpeg");
      background-repeat: no-repeat;
      height: 400px;
      font-size: 22;
      
  }
  .element{
      margin-top: 100px;
  }