/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 18, 2017, 6:31:54 PM
    Author     : jeremy_pc
*/

#playGround {
    margin: 10px;
    margin-left: 30px;
    
}

#playGround table tr {
    height : 48px;
    width  : 48px;
}

#playGround table td {
    width: 48px;
    height:48px;
    
    padding: 0;

    cursor     : pointer;
}

.fighter {
    width      : 55px;
    height     : 63px;
    display    : inline-block;
    position   : absolute;
    margin-top : -8px;
}
table{
    width:300px;
}

.form_direction{
    border-bottom: navajowhite; 
    border: solid 1px red; 
}
.classUp{
    background-image: url('../img/button.png');
    background-repeat: no-repeat;
    background-position:center center;
    width: 220px;
    height: 80px;
    color: white;
    cursor     : pointer;
}
.classUp:hover{
    background-image: url('../img/buttonhover.png');
}
.classRight{
    background-image: url('../img/button.png');
    background-repeat: no-repeat;
    background-position:center center;
    width: 220px;
    height: 80px;
    color: white;
    cursor     : pointer;
}
.classRight:hover{
    background-image: url('../img/buttonhover.png');
}
.classLeft{
    background-image: url('../img/button.png');
    background-repeat: no-repeat;
    background-position:center center;
    width: 220px;
    height: 80px;
    color: white;
    cursor     : pointer;
}
.classLeft:hover{
    background-image: url('../img/buttonhover.png');
}
.classDown{
    background-image: url('../img/button.png');
    background-repeat: no-repeat;
    background-position:center center;
    width: 220px;
    height: 80px;
    color: white;
    cursor     : pointer;
    margin-bottom: 20px;
}
.classDown:hover{
    background-image: url('../img/buttonhover.png');
}
/*POSITION OF THE BUTTON UP*/
#buttonUp{
    margin: auto;
    width: 220px;
}
/*POSITION OF THE BUTTON RIGHT AND LEFT*/
#buttonLeftRight{
    margin: auto;
    width: 440px;
}
/*POSITION OF THE BUTTON DOWN*/
#buttonDown{
    margin: auto;
    width: 220px;
}


/*BUTTONS SKILLS*/
.classStrength{
    margin: 5px;
    background-image: url('../img/skillbutton.jpg');
    background-repeat: no-repeat;
    background-position:center center;
    width: 170px;
    height: 52px;
    color: white;
    cursor     : pointer;
}
.classStrength:hover{
    background-image: url('../img/skillbutton2.jpg');
}
.classHealth{
    margin: 5px;
    background-image: url('../img/skillbutton.jpg');
    background-repeat: no-repeat;
    background-position:center center;
    width: 170px;
    height: 52px;
    color: white;
    cursor     : pointer;
}
.classHealth:hover{
    background-image: url('../img/skillbutton2.jpg');
}
.classSight{
    margin: 5px;
    background-image: url('../img/skillbutton.jpg');
    background-repeat: no-repeat;
    background-position:center center;
    width: 170px;
    height: 52px;
    color: white;
    cursor     : pointer;
}
.classSight:hover{
    background-image: url('../img/skillbutton2.jpg');
}
#buttonsSill{
    margin: auto;
    width: 170px;
}

#infoFighter{
    background-image: url('../img/backgroundskills.jpg');
    
    color: white;
}
}